<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adresses</title>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
</head>
<body>
<header th:insert="general :: footer"> </header>

<form action="/meteo" method="post">
    <div>
        <label for="adresse">Please input your adress :</label>
        <input required name="adresse" id="adresse">
    </div>
    <div>
        <button>Get the weather at the given address !</button>
    </div>
</form >
</body>
</html>